@model IEnumerable<WebshopClientWeb.Model.OrderLine>

@{
    ViewData["Title"] = "Cart";
}

<h1>Indkøbskurv</h1>


@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CartProduct.ProdName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartProduct.ProdDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartProduct.ProdPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartProduct.ProdQuantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderLine in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => orderLine.CartProduct.ProdName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orderLine.CartProduct.ProdDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orderLine.CartProduct.ProdPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orderLine.CartProduct.ProdQuantity)
                    </td>
                    <td>


                        <a asp-controller="OrderLine" asp-action="EmptyCart" asp-route-prodId="@orderLine.CartProduct.ProdId">Empty Cart</a> |
                        <a asp-action="Details" asp-route-id="@orderLine.CartProduct.ProdId">Details</a> |
                        <a asp-action="RemoveFromCart" asp-route-prodId="@orderLine.CartProduct.ProdId">Fjern produkt</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

     <div style="text-align: right; margin-top: 20px;">
        <p>
            <a asp-action="Create">Fuldfør køb</a>
        </p>
    </div>
}
else
{
    <p>Indkøbskurven er tom.</p>
}