@model IEnumerable<WebshopClientWeb.Model.Product>

@{
    ViewData["Title"] = "Product";
}

<h1>Produkter</h1>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProdName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProdDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProdPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProdQuantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdPrice)
                    </td>
                    <td>
                        @{
                            if (item.ProdQuantity > 5)
                            {
                                <span class="text-success">På lager</span>
                            }
                            else if (item.ProdQuantity <= 5 )
                            {
                                <span class="text-warning">Få tilbage!</span>
                            }
                            else
                            {
                                <span class="text-danger">Udsolgt</span>
                            }
                        }
                        <td>
                        @if (item.ProdQuantity > 0)
                        {
                            using (Html.BeginForm("AddToCart", "Cart", new { prodId = item.ProdId }, FormMethod.Post))
                            {
                                <input id="orderLineProdQuantity" name="orderLineProdQuantity" type="number" value="1" min="1" max="50" />
                                <button type="submit" class="pull-right"><i class="fa fa-shopping-cart">Tilføj til kurv</i></button>
                            }
                        }
                        else
                        {
                            <p>Ikke tilgængelig.</p>
                        }
                    </td>
                    
                    <td>
                        <!--<a asp-controller="OrderLine" asp-action="AddToCart" asp-route-prodId="@item.ProdId">Tilføj til kurv</a> -->

                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (TempData["AddedToCartMessage"] != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var addedToCartMessage = "@TempData["AddedToCartMessage"]";
                var notification = document.createElement('div');
                notification.className = 'cart-notification';
                notification.innerHTML = addedToCartMessage;
                document.body.appendChild(notification);
                setTimeout(function () {
                    notification.style.display = 'none';
                }, 2300); // Hide the notification after 2,3 seconds 
            });
        </script>
    }
}
else
{
    <p>No products available.</p>
}