@model IEnumerable<WebshopClientWeb.Model.OrderLine>

@{
    ViewData["Title"] = "Cart";
    decimal total = 0;
}

<h1>Indkøbskurv</h1>
@if (TempData["CartEmptyMessage"] != null)
{
    <p>@TempData["CartEmptyMessage"].ToString()</p>
}

else if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CartProduct.ProdName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartProduct.ProdDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartProduct.ProdPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartProduct.ProdQuantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderLine in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => orderLine.CartProduct.ProdName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orderLine.CartProduct.ProdDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orderLine.CartProduct.ProdPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orderLine.OrderLineProdQuantity)
                    </td>
                    <td>
                        @(orderLine.OrderLineProdQuantity * orderLine.CartProduct.ProdPrice)
                    </td>
                    <td>
                        @if (orderLine.OrderLineProdQuantity > 0)
                        {
                            using (Html.BeginForm("UpdateCartItem", "Cart", new { prodId = orderLine.CartProduct.ProdId }, FormMethod.Post))
                            {
                                <input id="orderLineProdQuantity" name="orderLineProdQuantity" type="number" value="@orderLine.OrderLineProdQuantity" min="1" max="50" />
                                <button type="submit" class="pull-right"><i class="fa fa-shopping-cart">Opdater kurv</i></button>
                            }
                        }
                        else
                        {
                            <p>Ikke tilgængelig.</p>
                        }
                    </td>

                    <td>
                        <a asp-action="RemoveFromCart" asp-route-prodId="@orderLine.CartProduct.ProdId" class="btn btn-sm btn-danger" id="remove-product-button">
                            <i class="fa fa-trash"></i> Fjern produkt
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @foreach (var orderLine in Model)
    {
        total += (orderLine.OrderLineProdQuantity * orderLine.CartProduct.ProdPrice);
    }

    <div id="pricetotal-text" style="text-align: right; margin-top: 20px;">
        <b>Total = @total kr.</b>
    </div>

    <div> hfjkshkwbehfwfeh</div>

    <input id="orderIdHidden" name="orderIdHidden" value="@ViewBag.OrderId" hidden="hidden" />
    <input id="orderIdHidden5" name="orderIdHidden5" value="5" hidden="hidden" />
    <div> @ViewBag.OrderId </div>

    <div class="bottom-buttons">
        <div id="empty-button">
            <form asp-controller="Cart" asp-action="EmptyCart" method="post">
                <button type="submit" class="btn btn-danger">Tøm kurv</button>
            </form>
        </div>

        <div id="order-button">
            <form asp-controller="Order" asp-action="CreateOrder" method="post" id="orderForm">
                <p>
                    <button type="submit" class="btn btn-primary">Fuldfør køb</button>
                </p>
            </form>
        </div>
    </div>
}
else
{
    <p>Indkøbskurven er tom.</p>
}

<!-- The Modal displaying order confirmation-->
<div class="modal" id="myModal">
    @{
        int oid = -1; 
        if (@ViewBag.OrderId != null)
        {
            oid = (int)@ViewBag.OrderId;
        }
        string headerText = "Køb ikke fuldført";
        string detailText = "Something went wrong";
        if (oid > 0)
        {
            headerText = "Køb fuldført";
            detailText = "Dit ordre ID er: " + oid;
        }
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">@headerText</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <!-- Update the ID of the element to target it in your JavaScript -->
                            <p>@detailText</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>

    }
    @*else
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Køb fuldført</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- Update the ID of the element to target it in your JavaScript -->
                    <p>Dit ordre ID er: @ViewBag.OrderId</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }*@
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // Check if OrderId is present in ViewBag
            var orderId = @Html.Raw(Json.Serialize(ViewBag.OrderId))
            var orderIdInt = parseInt(orderId);
                // alert(orderId + " " + orderIdInt);
            //     int oid2 = 0;
            // if (@ViewBag.OrderId != null) {
            //     oid2 = (int)@ViewBag.OrderId;
            //     alert(oid2);
            // }
            // // Update the modal ID and content
                // $('#myModal .modal-body').html('<p>Dit ordre ID er 222: ' + orderId + '</p>');
            if (orderIdInt > 0 || orderIdInt == -2 || orderIdInt == -3) {
                // alert(182);
                // Show the modal
                $('#myModal').modal('show');

                // Manually trigger the close button event
                $('#myModal .close, #myModal [data-dismiss="modal"]').click(function () {
                    $('#myModal').modal('hide');
                });
           }
        });
    </script>
}

@* <!-- The Modal displaying purchase not completed -->
<div class="modal" id="purchaseNotCompletedModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Køb ikke gennemført</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Køb ikke gennemført. Venligst prøv igen senere.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Luk</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // Check if PurchaseNotCompletedModal should be shown
            var showPurchaseNotCompletedModal = @Html.Raw(Json.Serialize(ViewBag.ShowPurchaseNotCompletedModal));

            if (showPurchaseNotCompletedModal) {
                // Show the "Køb ikke gennemført" modal
                $('#purchaseNotCompletedModal').modal('show');
            }
        });
    </script>
} *@






